
header {
    height: 200px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('~Images/image.png?size=200&format=webp');
}